---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
---

<Layout title="Kontakt">
  <Hero label="" rightText="Lorum Ipsum sätze so etwas 1-3 sätze">
    <Fragment slot="title">
      Lass uns über dein <span class="pink">Projekt</span> sprechen.
    </Fragment>
  </Hero>
</Layout>
